{% macro render_dropdown(item, view) %}
<li>
    <a href="{{ url_for(view, id=item.id) }}">
        {% if item.products %}<span class="label label-info">{{ item.products | count }}{% else %}<span class="glyphicon glyphicon-unchecked">{% endif %}</span>&nbsp; {{ item.name }}
    </a>
</li>
{% endmacro %}

{% macro render_select(items, id_name, selected) %}
<select class="form-control" id="{{ id_name }}" name="{{ id_name }}">
    {% for item in items %}
    {% if item.name == selected %}
    <option selected>{{ item.name }}</option>
    {% else %}
    <option>{{ item.name }}</option>
    {% endif %}
    {% endfor %}
</select>
{% endmacro %}

{% macro render_product(product) %}
<tr>
    <td></td>
    <td><a href="{{ url_for('category', id=product.category.id) }}">{{ product.category.name }}</a></td>
    <td>{{ product.sub_category.name }}</td>
    <td><a href="{{ url_for('brand', id=product.brand.id) }}">{{ product.brand.name }}</a></td>
    <td><a href="{{ url_for('product_edit', id=product.id) }}">{{ product.name }}</a></td>
    <td>{{ product.color }}</td>
    <td>{{ product.quantity }}</td>
    {% if not product.price or product.price == 0 -%}
    <td></td>
    {% else %}
    <td>${{ '%0.2f' | format(product.price|float) }}</td>
    {%- endif %}
    <td>{{ product.notes.text }}</td>
</tr>
{% endmacro %}

{% macro render_product_by_brand(product) %}
<tr>
    <td>{{ product.category.name }}</td>
    <td>{{ product.sub_category.name }}</td>
    <td><a href="{{ url_for('product_edit', id=product.id) }}">{{ product.name }}</a></td>
    <td>{{ product.color }}</td>
    {% if not product.price or product.price == 0 -%}
    <td></td>
    {% else %}
    <td>${{ '%0.2f' | format(product.price|float) }}</td>
    {%- endif %}
    <td>{{ product.notes.text }}</td>
</tr>
{% endmacro %}

{% macro render_product_by_category(product) %}
<tr>
    <td>{{ product.brand.name }}</td>
    <td><a href="{{ url_for('product_edit', id=product.id) }}">{{ product.name }}</a></td>
    <td>{{ product.color }}</td>
    {% if not product.price or product.price == 0 -%}
    <td></td>
    {% else %}
    <td>${{ '%0.2f' | format(product.price|float) }}</td>
    {%- endif %}
    <td>{{ product.notes.text }}</td>
</tr>
{% endmacro %}
