{% extends "base.html" %}
{% block body %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('products') }}">Products</a></li>
    <li class="active">Add</li>
</ol>
<h2>Add Product</h2>

<hr />

<script type="text/javascript">
$(document).ready(function() {
    $(".quantity-btn").on("click", function() {
        var button = $(this);
        var oldValue = button.closest('.quantity-group').find('input#quantity-input').val();

        if (button.text() == "+") {
            var newValue = parseFloat(oldValue) + 1;
        } else {
            if (oldValue > 0) {
                var newValue = parseFloat(oldValue) - 1;
            } else {
                newValue = 0;
            }
        }

        button.closest('.quantity-group').find('input#quantity-input').val(newValue);
    });
});
</script>

<div class="container-fluid">

    <form role="form" method="POST" class="form-horizontal">

    <div class="col-md-6">
        <div class="form-group">
            <label for="category" class="col-sm-4 control-label">Category</label>
            <div class="col-sm-8">
                {# Pressing Add Another will pass the category object to the
                   template which can be used by render_select() to select
                   the category name as the default in the dropdown list #}
                {% if category -%}
                {{ macros.render_select(categories, "category", category.name) }}
                {% else %}
                {{ macros.render_select(categories, "category") }}
                {%- endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="brand" class="col-sm-4 control-label">Brand</label>
            <div class="col-sm-8">
                {# Pressing Add Another will pass the brand object to the
                   template which can be used by render_select() to select
                   the brand name as the default in the dropdown list #}
                {% if brand -%}
                {{ macros.render_select(brands, "brand", brand.name) }}
                {% else %}
                {{ macros.render_select(brands, "brand") }}
                {%- endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="product-name" class="col-sm-4 control-label">Product Name</label>
            <div class="col-sm-8">
                {#- Display the previous product name if Add Another was pressed #}
                {% if product -%}
                <input type="text" class="form-control" id="product-name" name="product-name" value="{{ product.name }}" required>
                {% else %}
                <input type="text" class="form-control" id="product-name" name="product-name" placeholder="Eye Color Quad" required>
                {%- endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="color" class="col-sm-4 control-label">Color</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="color" name="color" placeholder="Burnished Amber" {% if product %}autofocus{% endif %}>
            </div>
        </div>
        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Quantity</label>
            <div class="col-sm-4">
                <div class="input-group quantity-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default quantity-btn" type="button">-</button>
                    </span>
                    <input type="text" class="form-control" id="quantity-input" name="quantity" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-default quantity-btn" type="button">+</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price</label>
            <div class="col-sm-8">
                {# Display previous product color if Add Another was pressed #}
                {% if product -%}
                <input type="text" class="form-control" id="price" name="price" value="{% if product.price %}{{ product.price }}{% else %}0.0{% endif %}">
                {% else %}
                <input type="text" class="form-control" id="price" name="price" value="0.0">
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <a href="{{ url_for('products') }}" type="button" class="btn btn-default">Cancel</a>
                <button type="submit" name="submit" class="btn btn-primary" value="Add">Add</button>
                <button type="submit" name="submit" class="btn btn-primary" value="Another">Add Another</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
       <div class="form-group">
            <div class="col-sm-12">
                <label for="price" class="control-label">Product Notes</label>
               <textarea class="form-control" id="notes" name="notes" rows="8" placeholder="Product notes"></textarea> 
           </div>
       </div>
    </div>

    </form>

</div> <!-- /container-fluid -->
<hr />
{% endblock %}
