{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block body %}
<h1>Products <small>All</small>
    <div class="pull-right">
        <small>{% if price_total %}${{ price_total }}{% endif %}</small>
        {{ products | count }}
    </div>
</h1>
<script type="text/javascript">
$(document).ready(function(){
    $('#selectAll').on('click',function(){
        if ($(this).is(':checked')) {
            $('.check-box').each(function(){
                this.checked = true;
            });
        }else{
            $('.check-box').each(function(){
                this.checked = false;
            });
        }
    });
    $('#products-table').dataTable();
});
</script>
<table id="products-table" class="table table-hover table-condensed table-striped" >
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll"></th>
            <th>Category</th>
            <th></th>
            <th>Brand</th>
            <th>Product Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products -%}
        {{ macros.render_product(product) }}
        {%- endfor %}
    </tbody>
</table>
{% endblock %}
