{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h1>
            Products <small>All</small>
        </h1>
    </div>
    <div class="col-md-6">
        <h1 class="text text-right">
            <small>{% if price_total %}${{ price_total }}{% endif %}</small> {{ products | count }}
        </h1>
    </div>
</div>

<hr />

<script type="text/javascript">
$(document).ready(function(){
    $('#selectAll').on('click',function(){
        if ($(this).is(':checked')) {
            $('.check-box').each(function(){
                this.checked = true;
            });
        }else{
            $('.check-box').each(function(){
                this.checked = false;
            });
        }
    });
    $('#products-table').dataTable({
        "lengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]]
    });
});
</script>

<table id="products-table" class="table table-hover table-condensed table-striped dt-responsive">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll"></th>
            <th>Category</th>
            <th></th>
            <th>Brand</th>
            <th>Product Name</th>
            <th>Color</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products -%}
        {{ macros.render_product(product) }}
        {%- endfor %}
    </tbody>
</table>
{% endblock %}
