{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block body %}
<h1>Products <small>All</small></h1>
<table class="table table-hover table-condensed" data-link="row">
    <thead>
        <tr>
            <th>Category</th>
            <th></th>
            <th>Brand</th>
            <th>Product Name</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        {{ macros.render_product(product) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
