html {
  background-color: #f5f5f5;
}
.cakes-logo {
  font-family: 'Rochester', sans-serif;
  font-size: 3em;
  color: #ffdbee;
  text-shadow: 2px 1px #8F5555;
}

.subcategory-input, .close-subcategory {
  display: none;
}

.close-subcategory {
  margin-top: 0;
}

.gt-icon {
  position: relative;
  margin-top: -6px;
  padding: 0;
  top: 6px;
}

ul.tabs {
  margin-bottom: 35px;
}

.save-btn {
  margin-left: 52px;
}
