{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cakes</title>
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/cakes.js') }}">
  </script>
  <link rel="stylesheet" href="{{ url_for('static',
   filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',
   filename='css/cakes.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo right">Cakes</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Brands</a></li>
        <li><a href="badges.html">Categories</a></li>
        <li><a href="{{ url_for('products_get') }}">Products</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body -%}
    {%- endblock %}
  </div>
  <script>
  {% with messages = get_flashed_messages() -%}
    {% if messages -%}
      {% for message in messages -%}
      var $toastContent = $('<span>{{ message }}</span>');
      Materialize.toast($toastContent, 5000);
      {%- endfor %}
    {%- endif %}
  {%- endwith %}
  </script>
</body>
</html>
