{% from "macros.html" import btn_save %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title%}Cakes{% endblock %}</title>
  <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}">
  </script>
  <script src="{{ url_for('static', filename='js/cakes.js') }}">
  </script>
  <link rel="stylesheet" href="{{ url_for('static',
   filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',
   filename='css/cakes.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Rochester'
    rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{ url_for('products') }}" class="cakes-logo">Cakes</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn" href="#!"
                onclick="addProductModal()">Add</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
    <div class="container">
      <h1>{% block header %}{% endblock %}</h1>
    </div>
  </header>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  <!-- Add Modal -->
  <div id="modal-add" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="modal-title">Add Product</h4>
      <form id="modal-add-form" method="POST">
        <input type="text" value="" id="id" class="hide">
        <div class="row">
          <div class="input-field col s12">
            {{ form.brand }}
            {{ form.brand.label }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            {{ form.category }}
            {{ form.category.label }}
          </div>
          <div class="input-field col s6">
            {{ form.subcategory }}
            <label for="subcategory">Subcategory</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form.name }}
            {{ form.name.label }}
          </div>
          <div class="input-field col s12">
            {{ form.color }}
            {{ form.color.label }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            {{ form.quantity }}
            {{ form.quantity.label }}
          </div>
          <div class="input-field col s6">
            {{ form.used }}
            {{ form.used.label }}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            {{ form.price }}
            {{ form.price.label }}
          </div>
          <div class="input-field col s6">
            {{ form.is_favorite }}
            {{ form.is_favorite.label }}
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" id="btn-save" class="modal-action modal-close waves-effect
         waves-green btn-flat" type="submit" 
         onclick="updateProductSave()">Save</a>
      <button href="#!" class="modal-action modal-close waves-effect
         waves-green btn-flat">Cancel</button>
    </div>
  </div>
  <!--// Add Modal -->
  
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

  <script type="text/javascript">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      var $toastContent = $('<span>{{ message }}</span>');
      Materialize.toast($toastContent, 5000);
      {% endfor %}
    {% endif %}
  {% endwith %}
  </script>
</body>
</html>
          
