{% extends "base.html" %}
{% block body %}
<h2>Add Category</h2>
<div class="row">
  <form class="col s12" method="POST">
    {{ form.csrf_token }}
    <div class="row">
      <div class="input-field col s6">
        {{ form.category(class="onload-subcategory") }}
        <label for="category">Current Categories</label>
      </div>
      <div class="input-field col s6">
        {{ form.subcategory }}
        <label for="subcategory">Current Subcategories</label>
        <p class="add-subcategory"><a href="#">
          Add new subcategory to <span></span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 category-input">
        {{ form.name(length=64) }}
        {{ form.name.label }}
      </div>
      <div class="input-field col s6 subcategory-input">
        {{ form.subcategories(disabled=True) }}
        {{ form.subcategories.label }}
        <p class="close-subcategory"><a href="#">
          Close</a></p>
      </div>
    </div>
    <a href="{{ url_for('products_get') }}" type="button"
      class="btn waves-effect waves-light">Cancel</a>
    <button class="btn waves-effect waves-light category-submit" type="submit"
      name="action"> Submit <i class="material-icons right">send</i>
    </button>
  </form>
</div>
{% endblock %}
